<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD><TITLE>天气预报</TITLE>
<META charset=utf-8>
<META name=viewport content="width=device-width, user-scalable=no, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</HEAD>

<BODY>

<div data-role="page" id="page1">
    <!-- <div data-theme="a" data-role="header" data-position="fixed">
        <a data-role="button" data-inline="false" href="#panel2" data-icon="bars" class="ui-btn-right">...</a>
        <h3>通讯录</h3>
    </div>
    -->
    <div data-role="content">
        <div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
            <h4>北京天气</h4>
            <ul data-role="listview" data-inset="false">
                <li>当前气温：1℃</li>
                <li>天气：阴</li>
                <li>风向：东北风</li>
                <li>最高气温：3℃</li>
                <li>最低气温：0℃</li>
                <li>天气较凉，较易发生感冒，请适当增加衣服。体质较弱的朋友尤其应该注意防护</li>
            </ul>
        </div>
    </div>
    <!-- 
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>技术支持 方倍工作室</h3>
    </div>
    -->
</div>



</BODY>
</HTML>